body {
    font-family: Arial, sans-serif;
    background-color: #cfcfcf; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

h1 {
    font-size: 24px;
}

#word-container {
    margin-top: 20px;
}

#word-display {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#guesses {
    font-size: 18px;
}

#letters {
    margin-top: 20px;
    font-size: 18px;
}

#letter-input {
    width: 30px;
}

#guess-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#message {
    margin-top: 20px;
}

#message-text {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
}
